.table-section{
    /*height: 65vh!important;*/
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

table {
    width: 100%;
    margin-bottom: 0 !important;
}
td {
    white-space: nowrap;
    line-height: 1;
}
td div {
    white-space: normal;
    word-break: break-all;
    display: block;
}
table td, table td span {
    font-family: IDLCFont, sans-serif !important;
    color: black !important;
}
.table td span, .table td p {
    /*line-height: 0.2 !important;*/
}
table th, table th span {
    font-family: IDLCFont, sans-serif !important;
}

/*======== FOR SCROLLABLE TABLE========== */
.table-sc {
    border-collapse: collapse;
    overflow-x: scroll;
    min-height: 100px;
    max-height: 400px;
}
.table-sc table tbody tr:hover{
    font-weight: bold;
}

.selectable td{
    background-color: var(--bs-primary);
}

/* ==========TABLE HEADER FIXED========= */
.tableFixHead {
    overflow: auto;
    border-collapse: separate; /* Don't collapse */
    border-spacing: 0;
}
.tableFixHead thead {
    border-radius: 10px;
}
.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f5f5f5;
    color: var(--bs-primary);
    font-size: 14px;
    font-family: IDLCFont, sans-serif !important;
}
.tableFixHead tfoot td {
    position: sticky;
    bottom: 0;
    z-index: 1;
}
.tableFixHead tbody {
    border-top: none !important;
}
.tableFixHead td:last-child, .tableFixHead th:last-child {
    border-right: 1px solid #e9ecef !important;
}
.tableFixHead td:not(:last-child) td, .tableFixHead th:not(:last-child) td {
    border-right: none !important;
}
.tableFixHead th:first-child, .tableFixHead td:first-child {
    border-left: 1px solid #e9ecef !important;
}
.tableFixHead tr:first-child td, .tableFixHead tr:first-child th {
    border-top: 1px solid #e9ecef !important;
}
.tableFixHead thead th {
    border-block: 1px solid #e9ecef !important;
}
.tableFixHead tbody td, .tableFixHead tbody th, .tableFixHead tfoot td {
    border-bottom: 1px solid #e9ecef !important;
    border-left: none;
}



.table> :not(:first-child){
    border-top: none;
}

.table-bordered tbody tr:last-child td {
    border-top: none !important;
    border-width: 1px !important;
}
.table-selected {
    background-color: var(--bs-primary);
}
.table-selected td {
    color: var(--bs-primary) !important;
}

.table-scrollable-thin {
    /*direction: rtl;*/
    scrollbar-width: thin !important;
}
.table-scrollable-thin::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.table-scrollable-thin::-webkit-scrollbar-track-piece {
    background-color: #f5f5f5;
}
.table-scrollable-thin::-webkit-scrollbar-thumb {
    height: 30px;
    border-radius: 10px;
    background: #ddd;
}
.table-scrollable-thin::-webkit-scrollbar-thumb:hover {
    background: var(--bs-primary);
}
.table-striped>tbody>tr:nth-of-type(even)>* {
    --bs-table-accent-bg: var(--bs-table-striped-bg);
    color: var(--bs-table-striped-color);
}
.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: rgba(255, 255, 255, 0.3);
    --bs-table-bg-type: white !important;
    color: var(--bs-table-active-color);
}
.table-hover>tbody>tr:hover>* {
    --bs-table-accent-bg: var(--bs-primary);
    color: var(--bs-table-hover-color);
    background-color: var(--bs-light);
    border-spacing: 0;
}

.hover-card:hover{
    /*background-color: #f5f5f5 !important;*/
    position:relative;
    left:3px;
}
.hover-card{
    transition: 1s;
}

/* =================TREE ============ */
.treeul{
    font-size: large;
    list-style-type: none;
}
.treechildul{
    list-style-type: none;
    border: solid;
    border-collapse: collapse;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-color: darkgray;
}

.treeul li a:hover {
    background-color: #8cb9ff;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 5px;
    transition: 300ms;
    color: black;
}
.treea{
    display:inline-block;
    width: 100%;
}

.treea span:last-child{
    display: none;
}

.treea:hover .pull-right{
    display: block;
}

.panelheader{
    background-color: lightgray;
    padding: 4px;
    border-radius: 10px;
}

.checkbox svg{
    color: var(--bs-primary) !important;
}

.checkbox:hover{
    text-decoration: underline;
    cursor: pointer;
    padding-left: 3px;
}
.tr-active{
    background-color: var(--bs-primary);
}